org: jonvibes
service: server-api
  
provider:
  name: aws
  region: us-east-1
  runtime: python3.11
  architecture: x86_64
  environment:
    DATA_BASE_URL: ${env:DATA_BASE_URL}
    SECRET_JWT_PRIVATE_KEY: ${env:SECRET_JWT_PRIVATE_KEY}
    SECRET_JWT_PUBLIC_KEY: ${env:SECRET_JWT_PUBLIC_KEY}
    BUCKET_NAME: !Ref UploadsBucket
    MEALS_QUEUE_URL: !Ref MealsQueue

  # ecr:
  #   images:
  #     app-image:
  #       path: ./
  #       file: Dockerfile
  #       provenance: false
  #       platform: linux/amd64

package:
  individually: true

build:
  esbuild:
    minify: true
    sourcemap: true

functions:
  signin:
    image:
      uri: 553004107808.dkr.ecr.us-east-1.amazonaws.com/lambda-container:latest
      command:
        - src.functions.signin.handler
    events:
      - httpApi:
          path: /signin
          method: POST
  signup:
    image:
      uri: 553004107808.dkr.ecr.us-east-1.amazonaws.com/lambda-container:latest
      command:
        - src.functions.signup.handler
    events:
      - httpApi:
          path: /signup
          method: POST

  me:
    image:
      uri: 553004107808.dkr.ecr.us-east-1.amazonaws.com/lambda-container:latest
      command:
        - src.functions.me.handler
    events:
      - httpApi:
          path: /me
          method: GET

  createMeal:
    image:
      uri: 553004107808.dkr.ecr.us-east-1.amazonaws.com/lambda-container:latest
      command:
        - src.functions.create_meal.handler
    events:
      - httpApi:
          path: /meals
          method: POST

  listMeals:
    image:
      uri: 553004107808.dkr.ecr.us-east-1.amazonaws.com/lambda-container:latest
      command:
        - src.functions.list_meals.handler
    events:
      - httpApi:
          path: /meals
          method: GET

  getMealById:
    image:
      uri: 553004107808.dkr.ecr.us-east-1.amazonaws.com/lambda-container:latest
      command:
        - src.functions.get_meal_by_id.handler
    events:
      - httpApi:
          path: /meals/{meal_id}
          method: GET
  
  fileUploadEvent:
    handler: src/functions/file_upload_event.handler
    events:
      - s3:
          bucket: !Ref UploadsBucket
          event: s3:ObjectCreated:*
          existing: true
          forceDeploy: true
            
resources:
  Resources:
    UploadsBucket:
      Type: AWS::S3::Bucket
      Properties:
          BucketName: server-uploads-service
    
    MealsQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: meals-queue-service
        VisibilityTimeout: 60
        RedrivePolicy:
          maxReceiveCount: 1
          deadLetterTargetArn: !GetAtt MealsDLQ.Arn

    MealsDLQ:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: meals-queue-dlq-service

          
# Resources:
#   MyEcrRepository:
#     Type: AWS::ECR::Repository
#     Properties:
#       RepositoryName: lambda-container
#       ImageScanningConfiguration:
#         ScanOnPush: true
#       ImageTagMutability: MUTABLE